/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

body {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;

  margin: 0;
  padding: 0;

  color:#2d2d2d;
  background-color: #ffffff;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.header,
.main {
  width: 100%;
  min-width: 320px;
  padding: 0;
}

.header {
  position: relative;
  background: rgb(250, 250, 250);
  color: #000000;
}

.header__logo {
  padding-top: 7px;
  padding-left: 20px;
}

.main-nav,
.submenu-history,
.submenu-sport {
  display: block;
}

.main-nav__submenu {
  display: block;
  background-color: rgb(240, 240, 240);
}

.main-nav__submenu--closed {
  display: none;
}

@media (max-width: 1150px) {
  .main-nav--closed {
    display: none;
  }

  .main-nav__item,
  .submenu-about__item,
  .submenu-history__item,
  .submenu-team__item,
  .submenu-sport__item {
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #bababa;
    width: 100%;
  }
  
  .submenu-about__item:first-child,
  .submenu-team__item:first-child {
    border-top: 1px solid #bababa;
  }
  
  .submenu-history__item:first-child,
  .submenu-sport__item:first-child {
    border-top: 1px solid #bababa;
  }
  
  .submenu-about__item:last-child,
  .submenu-history__item:last-child,
  .submenu-team__item:last-child,
  .submenu-sport__item:last-child {
    border-bottom: none;
  }

  .main-nav__item--about::before,
  .main-nav__item--team::before,
  .submenu-about__item--history::before,
  .submenu-about__item--sport::before {
    content: "";
    position: absolute;
    right: 50px;
    top: 12px;
    z-index: 3;
    width: 2px;
    height: 20px;
    background-color: #888888;
  }

}

.main__wrapper {
  min-height: 500px;
  background: #ffffff;
  background-image: url('../img/main-bg.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% auto;
}

.main__slogan {
  display: inline-block;
  font-size: 24px;
  line-height: 36px;
  margin-top: 37%;
  margin-left: 22%;
}

.main-nav__list,
.submenu-about__list,
.submenu-history__list,
.submenu-sport__list,
.submenu-team__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.submenu-history,
.submenu-sport {
  background-color: rgb(237, 226, 217);
}

.logo__image {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 40px;
  height: 40px;
}

.main-nav__link,
.submenu-history__link,
.submenu-about__link,
.submenu-team__link,
.submenu-sport__link {
  text-decoration: none;
  color: #2d2d2d;
  display: inline-block;
  padding: 10px 20px;
}


.header__toggle {
  padding: 0;
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 2;
  display: block;
  background-color: transparent;
  border: none;
  width: 45px;
  height: 45px;
  cursor: pointer;
}

.header__toggle--close::before,
.header__toggle--open::before {
  content: "";
  position: absolute;
  right: 15px;
  top: 10px;
  z-index: 3;
  width: 22px;
  height: 22px;
  
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 21.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 18 18' style='enable-background:new 0 0 18 18;' xml:space='preserve'%3E%3Cpolygon points='18,1.3 16.7,0 9,7.7 1.3,0 0,1.3 7.7,9 0,16.7 1.3,18 9,10.3 16.7,18 18,16.7 10.3,9 '/%3E%3C/svg%3E");
  background-size: 22px 22px;
  background-repeat: no-repeat;
}

.header__toggle--open::before {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 21.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 24 18' style='enable-background:new 0 0 24 18;' xml:space='preserve'%3E%3Crect y='16' width='24' height='2'/%3E%3Crect y='8' width='24' height='2'/%3E%3Crect width='24' height='2'/%3E%3C/svg%3E");
}

.main-nav__item--about,
.main-nav__item--team,
.submenu-about__item--history,
.submenu-about__item--sport {
  position: relative;
}

.main-nav__toggle {
  position: absolute;
  padding: 0;
  top: 12px;
  right: 15px;
  z-index: 2;
  display: block;
  background-color: transparent;
  border: none;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.main-nav__toggle--close::before,
.main-nav__toggle--open::before {
  content: "";
  position: absolute;
  right: 0;
  top: 5px;
  z-index: 3;
  width: 20px;
  height: 10px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='10' viewBox='-1 -1 14 8' stroke='%23888888' stroke-width='2'%3E%3Cline x1='0' y1='6' x2='6' y2='0'/%3E%3Cline x1='5' y1='0' x2='11' y2='6'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 20px 10px;
}

.main-nav__toggle--open::before {
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.59406 7.17406L11.7537 2.01424C12.0821 1.68601 12.0821 1.15385 11.7537 0.825783C11.4256 0.497689 10.8935 0.497689 10.5654 0.825783L5.99991 5.39142L1.43457 0.825915C1.10635 0.497821 0.574263 0.497821 0.24617 0.825915C-0.0820566 1.15401 -0.0820566 1.68615 0.24617 2.01437L5.4059 7.17419C5.57002 7.33824 5.7849 7.42017 5.99989 7.42017C6.21498 7.42017 6.43002 7.33808 6.59406 7.17406Z' fill='%23888888'/%3E%3C/svg%3E%0A");
}

@media (min-width: 1150px) {
  .header,
  .main {
    width: 1100px;
    margin: 0 auto;
  }

  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .logo__image {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    width: 60px;
    height: 60px;
  }

  .header__toggle,
  .main-nav__toggle {
    display: none;
  }

  .main-nav {
    display: block;
    padding-top: 30px;
    padding-left: 30px;
  }

  .main-nav__item {
    margin-right: 30px;
  }

  .main-nav__list,
  .submenu-about__list,
  .submenu-team__list,
  .submenu-history__list,
  .submenu-sport__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .submenu-history__list,
  .submenu-sport__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .submenu-history,
  .submenu-sport {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: rgb(240, 240, 240);
  }

  .submenu-about {
    position: absolute;
    width: 980px;
    top: 44px;
    left: -234px;
    padding: 10px 10px 10px 110px;
  }

  .submenu-about__link {
    font-weight: 600;
  }

  .submenu-history__list,
  .submenu-history__item {
    padding: 0;
    margin: 0;
  }

  .submenu-team {
    position: absolute;
    width: 980px;
    top: 44px;
    left: -521px;
    padding: 10px 10px 10px 110px;
  }
}